{# extends 'FiCoreBundle::layout.html.twig' #}
{% block configcontent -%}


<div id="{{ nomecontroller }}" class="tabella">
  <table id="listconfigura">
  </table> 
  <div id="pagerconfigura">
  </div> 
</div>

<script type="text/javascript">
  $(document).ready(function() {
    caricaGriglia({{ testata|raw }});
  });
  </script>
 {% endblock %}



