{% block form_errors %}
{% spaceless %}
    {% import "FiCoreBundle:standard:form.html.twig" as macros %}
    {% if not form.parent and not form.vars.valid %}
         {% import _self as forms %}
        <div class="alert alert-block alert-error">
            {{ macros.display_error(form) }}
        </div>
    {% else %}
        {#{ parent() }#}
    {% endif %}
{% endspaceless %}
{% endblock %}