#pulsantiera {

  position: relative;

  float:left;

  clear:both;



}



.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}

.last {margin-right:0;}

.span-1 {width:30px;}

.span-2 {width:70px;}

.span-3 {width:110px;}

.span-4 {width:150px;}

.span-5 {width:190px;}

.span-6 {width:230px;}

.span-7 {width:270px;}

.span-8 {width:310px;}

.span-9 {width:350px;}

.span-10 {width:390px;}

.span-11 {width:430px;}

.span-12 {width:470px;}

.span-13 {width:510px;}

.span-14 {width:550px;}

.span-15 {width:590px;}

.span-16 {width:630px;}

.span-17 {width:670px;}

.span-18 {width:710px;}

.span-19 {width:750px;}

.span-20 {width:790px;}

.span-21 {width:830px;}

.span-22 {width:870px;}

.span-23 {width:910px;}

.span-24 {width:950px;margin-right:0;}

input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important;}

input.span-1, textarea.span-1 {width:18px!important;}

input.span-2, textarea.span-2 {width:58px!important;}

input.span-3, textarea.span-3 {width:98px!important;}

input.span-4, textarea.span-4 {width:138px!important;}

input.span-5, textarea.span-5 {width:178px!important;}

input.span-6, textarea.span-6 {width:218px!important;}

input.span-7, textarea.span-7 {width:258px!important;}

input.span-8, textarea.span-8 {width:298px!important;}

input.span-9, textarea.span-9 {width:338px!important;}

input.span-10, textarea.span-10 {width:378px!important;}

input.span-11, textarea.span-11 {width:418px!important;}

input.span-12, textarea.span-12 {width:458px!important;}

input.span-13, textarea.span-13 {width:498px!important;}

input.span-14, textarea.span-14 {width:538px!important;}

input.span-15, textarea.span-15 {width:578px!important;}

input.span-16, textarea.span-16 {width:618px!important;}

input.span-17, textarea.span-17 {width:658px!important;}

input.span-18, textarea.span-18 {width:698px!important;}

input.span-19, textarea.span-19 {width:738px!important;}

input.span-20, textarea.span-20 {width:778px!important;}

input.span-21, textarea.span-21 {width:818px!important;}

input.span-22, textarea.span-22 {width:858px!important;}

input.span-23, textarea.span-23 {width:898px!important;}

input.span-24, textarea.span-24 {width:938px!important;}

.clear {clear:both;}



HTML {

	padding: 0em;

	margin: 0em;

}

BODY {

	padding: 0em;

	margin: 0em;

	font-size: 76%;

	font-family: verdana,arial,sans-serif;

	color: #1F2D30;

	background-color:#FFFFFF;

	height: 100%;



}







A {

	TEXT-DECORATION: underline;

	color: #990000;

}

A:hover {

	TEXT-DECORATION: none;

}



H1 {

	color: #42714F;

	font-size: 1.4em;

	font-weight: normal;

	padding: 0 auto 0 auto;

	margin: 10px auto 10px auto;

	width: 96%;

}

H2 {

	padding: 0em;

	margin: 0em;

	font-size: 1.1em;

	color: #5a9368;

}



H3 {

	padding: 0em;

	margin: 0em;

}



hr {

border: 1px;

width: 100%;

color: #BFDBDB;

height: 1px;

}





img {

	border: 0em;

}



ul {

margin: 0px 0px 0px 0px;

}



form {

margin: 0px;

padding: 0px;

}



#corpo_immissione_tempi table, #form table{

  border: 1px solid #5a9368;

  padding-top: 0px;

  padding-right: 5px;

  padding-bottom: 5px;

  padding-left: 5px;

  margin-top: 10px;

  margin-bottom: 10px;



}



#corpo_immissione_tempi fieldset{

/*

  width: 900px;

  margin-left: 10px;

  margin-right: 10px;

*/

border:none;

margin:0px;

padding:0px;





}



/* fine style per tag base*/



/* inizio style per input*/



input {

	font-family: verdana,arial,sans-serif;

	color: #1F2D30;

	font-size: 11px;

}

select {

	font-family: verdana,arial,sans-serif;

	color: #1F2D30;

	font-size: 11px;

}

textarea {

	font-family: verdana,arial,sans-serif;

	color: #1F2D30;

	font-size: 11px;

}



input[type=radio]{

	background-color: #FFFFFF;

	border: 0px solid #FFFFFF;

}



input[type=checkbox]{

	background-color: #FFFFFF;

	border: 0px solid #FFFFFF;

}





table

{

empty-cells:show;

border: none;

/*margin:50px;*/

margin-left: 15px;



}



td {

 border: none;

}



tr {

  border: none;

}











div{



}

/* fine style per input*/



/* inizio style per layout*/



DIV.container {

	WIDTH: 100%;

	margin-right: auto;

	margin-left: auto;

}



DIV.containerlogin {

	WIDTH: 100%;

	margin-right: auto;

	margin-left: auto;

	text-align: center;

	padding-top: 200px;

}



DIV.login {

	background-color: #FFFFFF;

	background-image: url(/bundles/ficore/images/logo_comune_firenze.gif);

	background-repeat: no-repeat;

	background-position: left top;

	width: 200px;

	height: 200px;

	padding-top: 60px;

	padding-left: 250px;

        font-size: 10px;

	text-align: center;

	color: #2B532D;

	margin-right: auto;

	margin-left: auto;

	border: 1px solid #CDD8C8;

        margin-top: 100px;

}



DIV.login li {

  list-style-type: none;

  font-size: 15px;

  margin-left: -40px;

}



DIV.navigation {



}



DIV.content {

    CLEAR: both;

    BACKGROUND-COLOR: #FFFFFF;

    padding: 0 auto 0 auto;

    margin: 0 auto 0 auto;

    width: 96%;

}





DIV.header {

	background-color: #b8c9b7;

	height: 80px;

	background-image: url(../images/bg_header.jpg);

	background-position: right top;

	background-repeat: no-repeat;

}



DIV.percorso{

	display: block;

	color: #5b3e15;

	font-weight: bold;

	cursor:pointer;

	cursor:hand;

	clear: both;

	BACKGROUND-COLOR: #FFFFFF;

	padding: 0 auto 10px auto;

	margin: 10px auto 10px auto;

	width: 96%;

height: 20px;



}



DIV.percorso .parent{

	color: #666666;

	font-weight: normal;

}





DIV.comandi{

	padding-top: 8px;

	padding-bottom: 8px;

	text-align: center;

	clear: both;



}



DIV.footer {

	clear: both;

	text-align: center;

	background-color: #CCCCCC;

	padding: 5px;

	display: none;

}





DIV.menu{

}



.utente{

	float: right;

	padding-top: 5px;

	padding-left: 0px;

	padding-right: 10px;

	padding-bottom: 5px;

	color: #FFFFFF;

	font-weight: bold;

	font-size: 10px;

}



.utente img{



	padding-right: 3px;

	padding-left: 7px;

}

.utente a{



	color: #FFFFFF;

}





th{



        background-color: #CCCCCC;

	padding: 3px 3px 3px 8px;

	text-align: left;



}



td:hover{

	background-color: #E6E6E6;



}



td{

	/*

        border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #CCCCCC;

        */

	padding: 3px 3px 3px 8px;

	cursor:pointer;

	cursor:hand;



}



tr.grassetto {

  font-weight: bold;



}





td.titolo:hover {

  background-color: transparent;

  cursor:default;



}





legend{

	color: #FFFFFF;

	padding-right: 10px;

	padding-left: 10px;

	background-color: #5a9368;

	padding-top: 3px;

	padding-bottom: 3px;

	font-weight: bold;

}



caption, .caption {

	padding-top: 3px;

	padding-right: 3px;

	padding-bottom: 5px;

	padding-left: 3px;

	font-weight: bold;

	background-color: #BEC961;

	color: #FFFFFF;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #FFFFFF;



}



DIV.footerlogin{

	border-bottom-width: 30px;

	border-bottom-style: solid;

	border-bottom-color: #183820;

	clear: both;

}



label{

	width: 100px;

	display: block;

	float: left;

	color: #41648B;



}



/* chiudo*/



.td {

	text-align: center;

}

.datipari{

	font-size: 90%;

	background-color: #DDEDFF;

}



.datidispari {

	font-size: 90%;

	background-color: #ffffff;

}

.selected {

	background-color: yellow;

}



.manina {

	cursor:pointer;

	cursor:hand;

}

/* tootltip */



.shadow, .content{

	position: relative;

	bottom: 2px;

	right: 2px;

}

.shadow{

	background-color: #999999; /*shadow color*/

	color: inherit;

}

.blur{

	background-color: #ccc; /*shadow color*/

	color: inherit;

	margin-left: 4px;

	margin-top: 4px;

	z-index: 9999;

	position: absolute;

}

/* tootltip fine */

/* csspopup */

#blanket {

   background-color:#111;

   opacity: 0.65;

   filter:alpha(opacity=65);

   position:absolute;

   z-index: 9001;

   top:0px;

   left:0px;

   width:100%;

   height:100%;

}

.popUpDiv {

	position:absolute;

	background-color:#FFFFFF;

	width:750px;

	height:600px;

	z-index: 9002;

	padding: 10px;

	left: 50px;

	top: 50px;



}



.popUpDiv div{

	padding-bottom: 10px;

}



.popUpDiv td{



}



.popUpDiv h2{

	color: #4D6EBB;

	font-size: 1.4em;

	border-bottom: 1px solid #999999;

	padding-bottom: 3px;

	margin-bottom: 5px;

	font-weight: normal;



}



.popUpDiv label{

	color: #13B8FB;

	font-weight: bold;

}



/* csspopup fine */

.cxscroll{

	height: 370px;

	overflow: auto;

	overflow-y: scroll !important;

	overflow-x: hidden !important;

	width: 100%;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

}

.bigscroll{

	height: 116px;

	overflow: auto;

	overflow-y: scroll !important;

	overflow-x: hidden !important;

	border: 0px solid #6CABBA;

	margin-top: 10px;

	margin-bottom: 5px;

	padding-top: 5px;

	padding-right: 0px;

	padding-bottom: 5px;

	padding-left: 0px;

	width: 420px;

}





.bsubmit {

	background-color: #183820;

	color: #FFFFFF;

	border: 1px solid #183820;

}







.breset {

	background-color: #94bc92;

	color: #FFFFFF;

	border: 1px solid #94bc92;

}



.bsubmitmsx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botm_sx.jpg);

	background-repeat: no-repeat;

	background-position: left;

	padding-left: 25px;

	margin-right: 5px;

	font-weight: bold;



}



.bsubmitmdx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botm_dx.jpg);

	background-repeat: no-repeat;

	background-position: right;

	margin-right: 5px;

	font-weight: bold;

	padding-right: 25px;



}



.bsubmitbsx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botb_sx.jpg);

	background-repeat: no-repeat;

	background-position: left;

	padding-left: 25px;

	margin-right: 5px;

	font-weight: bold;



}



.bsubmitbdx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botb_dx.jpg);

	background-repeat: no-repeat;

	background-position: right;

	margin-right: 5px;

	font-weight: bold;

	padding-right: 25px;



}



.bsubmitvsx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botv_sx.jpg);

	background-repeat: no-repeat;

	background-position: left;

	padding-left: 25px;

	margin-right: 5px;

	font-weight: bold;



}



.bsubmitvdx {

	color: #FFFFFF;

	background-color: #FFFFFF;

	border: 1px solid #999999;

	background-image: url(../images/bg_botv_dx.jpg);

	background-repeat: no-repeat;

	background-position: right;

	margin-right: 5px;

	font-weight: bold;

	padding-right: 25px;



}





.bsubmit2 {

	border: 1px solid #F49224;

	color: #FFFFFF;

	background-color: #9D3E3C;

	padding-right: 10px;

	padding-left: 10px;

	margin-right: 2px;

	margin-left: 0px;

	font-weight: bold;

	border: 1px solid #FFF;

	background-image: url(../images/bg_bot3.jpg);

	padding-top: 2px;

	padding-bottom: 2px;

}

.fc-event {

	overflow: hidden;

	font-size: .85em;

	text-decoration: none;

	cursor: pointer;

}



.tooltip {

	display: none;

	border: 1px solid #a6c9e2;

	font-size:11px;

	color:#000000;

	line-height: 18px;

	text-align: left;

	padding-top: 10px;

	padding-right: 20px;

	padding-bottom: 10px;

	padding-left: 10px;

	background-image: url(../images/bg_tootip.png);

}



.tooltip li{

	list-style-position: inside;

	list-style-image: url(../images/freblu.gif);

	list-style-type: disc;

	padding-left: 5px;

}

.popUpDiv .popcomandi {

	padding-top: 10px;

	padding-left: 100px;

}





/* impianto.css inizio*/





fieldset.sommario {

	margin-top: 10px;

}



fieldset.sommario div{

	padding-top: 5px;

	padding-right: 5px;

	padding-bottom: 0px;

	padding-left: 5px;

	clear: both;



}



fieldset.sommario legend{



}



.block{

	display: block;

	float: left;

}



fieldset.sommario input{

}



.riga{

	clear: both;

	padding-bottom: 5px;



}



.setcomandi{

	clear: both;

	float: left;

	width: 100%;

}



.setcomandi .riga{

	width: 990px;;

}



.componentesenzaoperazioni{

	width: 18%;

	float: left;

	background-color: #FFFFFF;

	text-align: center;

	height: 27px;

	margin: 2px;

	padding: 5px;

	font-size: 0.9em;

	background-image: url(../images/bg_comando.png);

	color: #666666;

	background-position: left top;

	clear: none;

	background-repeat: no-repeat;



}

.comando{

	width: 18%;

	float: left;

	background-color: #FFFFFF;

	text-align: center;

	height: 27px;

	margin: 2px;

	padding: 5px;

	font-size: 0.9em;

	background-image: url(../images/bg_comando.png);

	color: #666666;

	background-position: left top;

	clear: none;

	cursor:pointer;

	cursor:hand;

	background-repeat: no-repeat;



}



.comandoon, .comando:hover{

	width: 18%;

	float: left;

	background-color: #FFFFFF;

	text-align: center;

	height: 27px;

	margin: 2px;

	padding: 5px;

	font-size: 0.9em;

	background-image: url(../images/bg_comando_on.png);

	color: #003399;

	background-position: left top;

	clear: none;

	cursor:pointer;

	cursor:hand;

	background-repeat: no-repeat;



}



.comandoon:hover{



	background-image: url(../images/bg_comando_onon.png);

	color: #FFFFFF;

	background-position: left top;

	cursor:pointer;

	cursor:hand;

	background-repeat: no-repeat;



}



fieldset.lista div.scroll{

	height: 90px;

	overflow: auto;

	margin-top: 10px;

	margin-right: 5px;

	margin-left: 5px;

	margin-bottom: 10px;



}



fieldset.lista div.bigscroll{

	height: 420px;

	overflow: auto;

	overflow-y: scroll !important;

	overflow-x: hidden !important;

	width: 100%;



}



fieldset.lista{

padding-top: 5px;

padding-bottom: 5px;

padding-left: auto;

padding-right: auto;

}



.setbottoni{

	text-align: center;

	padding: 10px;

	clear: both;



}







.blogin {

	background-color: #183820;

	color: #FFFFFF;

	margin-top: 5px;

	width: 80px;

	border: 1px solid #183820;

}



.filter{

	padding-top: 10px;

	padding-bottom: 5px;

}



.bottoni{



}



.logininput{

	background-color: #CCCCCC;

	border: 1px solid #999999;

	margin-top: 3px;

	margin-bottom: 5px;



}



ul#nav{

	list-style: none;

	margin: 0px;

	color:#505050;

	font-weight: bold;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 23px;

	clear:both;

	float:left;

	font-size: 11px;



}



ul#nav li{

	float: left;

	margin: 0;

	padding: 0 0.2em 0;

}



ul#nav a{

	float: left;

	padding: 0 0 0 0.3em;

	background: url(../images/tab.png) no-repeat top left;

	text-decoration: none;

	color:#505050;

}



ul#nav span{

	float: left;

	padding: 10px 20px 5px 20px;

	background: url(../images/tab.png) no-repeat top right;

	cursor: pointer;

}



ul#nav li.active a,ul#nav a:hover{

    background: url(../images/tab2.png) no-repeat top left;

}



ul#nav li.active span,ul#nav a:hover span{

    background: url(../images/tab2.png) no-repeat top right;

	color:#FFFFFF;

	font-weight: bold;

}





ul#subnav{

	width: 100%;

	list-style: none;

	margin: 0px;

	font-size: 11px;

	color:#FFFFFF;

	background-color: #5a9368;

	clear:both;

	float: left;

	padding-top: 0px;

	padding-right: 0px;

	margin-bottom: 15px;

	padding-left: 0px;

}



ul#subnav li{

	float: left;

	margin: 0;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 20px;

}



ul#subnav a{

	float: left;

	text-decoration: none;

	color:#111F22;

	padding-top: 0;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 18px;

}



ul#subnav span{

	float: left;

	cursor: pointer;

	padding-top: 5px;

	padding-right: 12px;

	padding-bottom: 5px;

	padding-left: 7px;

}



ul#subnav li.active a,ul#subnav a:hover{

	color:#FFF;

}



ul#subnav li.active span{

	color:#FFF;

	font-weight: bold;

}



ul#subnav a:hover span{

	color:#FFF;

}



/* filter */



ul#filter,ul.filter{

	list-style: none;

	padding: 0px;

	margin: 0px;

	display: inline;

}



ul#filter li,ul.filter li{

	float: left;

	margin-top: 0;

	margin-right: 0.4em;

	margin-bottom: 0px;

	margin-left: 0;

	padding-top: 0;

	padding-right: 0.2em;

	padding-bottom: 0;

	padding-left: 0.2em;

	white-space: nowrap;

	background-color: #EBEBEB;

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 0px;

	border-left-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-top-color: #999999;

	border-right-color: #999999;

	border-bottom-color: #999999;

	border-left-color: #999999;

	list-style-type: none;

}



ul#filter a,ul.filter a{

	float: left;

	padding: 0 0 0 0.3em;

	text-decoration: none;

	color: #666666;

	font-weight: bold;

}



ul#filter span,ul.filter span{

	float: left;

	cursor: pointer;

	padding-top: 8px;

	padding-right: 8px;

	padding-bottom: 10px;

	padding-left: 5px;

	height: 15px;

}



ul#filter li.active,ul.filter li.active{

	background-color: #94bc92;

	border-bottom-width: 0px;

	border-bottom-style: solid;

	border-bottom-color: #94bc92;

	font-weight: bold;



}

ul#filter li.active a,ul#filter a:hover,ul.filter li.active a,ul.filter a:hover{

	color:#FFFFFF;

}



ul#filter li.active span,ul#filter a:hover span,ul.filter li.active span,ul.filter a:hover span{

	color:#FFFFFF;



}



.corpo{

	clear: both;

	float: left;

	border: 2px solid #94bc92;

	width: 100%;

	padding: 8px;

}





.sx {

	width: 78%;

	float: left;

	padding-top: 10px;

	padding-right: 10px;

	padding-bottom: 10px;

	padding-left: 0px;

}

.dx {

	width: 180px;

	float: right;

	padding-top: 10px;

	padding-right: 0px;

	padding-bottom: 10px;

	padding-left: 20px;

}



.cx{

	background-color: #FFFFFF;

	float: left;

	clear: both;

	width: 100%;

}



.sxline{

	padding: 10px;

	background-color: #FFFFFF;

	border: 2px solid #6C8BA4;

	width: 450px;

	float: left;

	height: 450px;

}



.dxline{

	padding: 10px;

	background-color: #FFFFFF;

	border: 2px solid #6C8BA4;

	width: 460px;

	float: left;

	height: 450px;

}



.scrolllista{

	width: 98%;

	float: left;

	overflow: auto;

	overflow-y: scroll !important;

	overflow-x: hidden !important;

	height: 400px;

	z-index: 50;

}

.cxcomandi{

	background-color: #FFFFFF;

	width: 50px;

	float: left;

	padding-top: 200px;

	padding-right: 5px;

	padding-bottom: 5px;

	padding-left: 5px;

}



.block{

float: left;

clear: both;



}



.cxline{

	padding: 10px;

	background-color: #FFFFFF;

	border: 2px solid #6C8BA4;



}





/* calendario */

.calendario{

	font-size: 10px;

	font-family: verdana,arial,sans-serif;

	color: #333333;

}

.calendario a {

	font-weight: bold;

	color: #183820;

	text-decoration: none;

}





.calendario td{

	border: 1px solid #7EAAFA;

	text-align: center;

	width: 16px;

	background-color:#FFFFFF;

	padding: 3px;



}



.calendario th{

	text-align: center;

	color: #183820;

	background-color: #DDEDFF;

	padding: 3px;

	width: 14px;

	height: 14px;

}



.calendario td.oggi{

	text-align: center;

	font-weight: bold;

	color: #FFFFFF;

	background-color: #183820;

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;



}

.calendario td.oggi a {

	color: #FFFFFF;

}







.calendario .meseanno{

	text-align: center;

	padding: 1px;

	font-weight: bold;

}



#calendario table a {

  text-decoration:none;

  cursor:url;

}





/* fine calendario*/



/* big calendario */

.bigcalendario{

	font-size: 10px;

	font-family: verdana,arial,sans-serif;

	color: #333333;

	clear: both;

	float: left;

	text-align: center;

	width: 100%;

	padding-bottom: 10px;

}

.bigcalendario a {

	font-weight: bold;

	color: #3176F7;

	text-decoration: none;

}





.bigcalendario td{

	border: 1px solid #999999;

	text-align: right;

	width: 100px;

	background-color:#FFFFFF;

	padding: 3px;

	font-family: verdana,arial,sans-serif;

	font-weight: normal;

	color: #999999;

	font-size: 20px;

	vertical-align: top;

	height: 50px;



}



.bigcalendario th{

	text-align: center;

	color: #FFFFFF;

	background-color: #849DB3;

	padding: 3px;

}



.bigcalendario td.oggi{

	text-align: right;

	font-weight: bold;

	color: #FFFFFF;

	background-color: #183820;

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;



}

.bigcalendario td.oggi a {

	color: #FFFFFF;

}



.bigcalendario td.oggi span{

	color: #FFFFFF;

	font-size: 12px;

	font-family: verdana,arial,sans-serif;



}



.bigcalendario .meseanno{

	text-align: center;

	padding: 1px;

	font-weight: bold;

}



td.pieno{

	background-color: #DDEDFF;



}



td.pieno span{

	font-size: 12px;

	color: #41648B;

	font-family: verdana,arial,sans-serif;



}



/* fine calendario*/



.filtri{

	padding-bottom: 5px;

	padding-top: 0px;

	clear: both;



}



.filtri th{

	background-color: #FFFFFF;

	text-align: left;

	font-size: 0.9em;

	font-weight: normal;

	padding-left: 0px;

}



.filtri td{

	background-color: #FFFFFF;

	border: 0px;

	padding-left: 0px;

}



.filtri span{

}



.filtri select{

	margin-right: 5px;

}



.corpo .scroll, .cx .scroll, .cxline .scroll{

	height: 430px;

	overflow: auto;

	overflow-y: scroll !important;

	overflow-x: hidden !important;

}



.content h2{

	font-size: 1.0em;

	padding-bottom: 5px;

	display: block;

	clear: both;

}



.boxstato{

	background-color: #DDEDFF;

	padding-top: 10px;

	padding-right: 10px;

	padding-bottom: 5px;

	padding-left: 10px;

	margin-bottom: 10px;



}





.boxstatos{

	background-color: #DDEDFF;

	padding-top: 10px;

	padding-right: 10px;

	padding-bottom: 5px;

	padding-left: 10px;

	margin-bottom: 10px;

	display: block;

	clear:both;

}



.boxstatos .datatitle{

	font-size: 1.4em;

	font-weight: bold;

	color: #1A54DB;

	text-align: center;

}



.boxstato label{

	width: 160px;

	text-align: right;

	padding-right: 10px;

	font-weight: bold;



}



.noblock{

	display: inline;

	clear: none;

	float: none;

}





span.noblock{

	padding-right: 20px;

}



.filtriimpianto {

	padding-top: 5px;

	padding-bottom: 7px;

	background-color: #CCCCCC;

	text-align: left;

	padding-left: 20px;

}

.datatitle {

	font-size: 1.8em;

	font-weight: bold;

	color: #1A54DB;

	text-align: center;

}



.cambiodata{

	background-color: #0099FF;

	color: #FFFFFF;

}



.cambiodataerror{

	background-color: #CC0000;

	color: #FFFFFF;

}



.sceltadata{

	padding-top: 3px;

	padding-bottom: 3px;

	margin-bottom: 5px;

	text-align: center;

}



.viewcalendario{

	z-index: 5000;

	position: absolute;

	background-color: #FFFFFF;

	padding: 10px;

	border: 1px solid #CCCCCC;

	left: 730px;

	width: 180px;

	display: none;

}



div.sezione{

	padding: 3px 15px 11px 15px;

	background-image: url(../images/bg_sezione.png);

	background-position: left top;

	background-repeat: no-repeat;

	color: #5a9368;

	font-weight:bold;

}



input.sezione{

	padding: 3px 15px 11px 15px;

	background-image: url(../images/bg_sezione_on.png);

	background-position: left top;

	background-repeat: no-repeat;

	border: 0px solid #FFF;

	color: #5a9368;

	width: 380px;

}



fieldset.sezioni{

	padding: 10px 15px 11px 10px;



}



.listasezioni{

	height: 350px;

	overflow: auto;

}

.listaunita{

	height: 300px;

}



a.rimuovi{

	padding-left:15px;

	background-image: url(../images/x.png);

	background-position: 0px 2px;

	background-repeat: no-repeat;

	color: #5a9368;

	text-decoration:none;

}

.bigletters {

	font-size:600%;

}



.selectable.selected {

    background: #bbb;

    border-top: solid 2px #777;

    border-left: solid 2px #777;

    border-bottom:solid 2px  #eaeaea;

    border-right: solid 2px #eaeaea;

}



.selectable {

    background: #ccc;

    border-top: solid 2px #eaeaea;

    border-left: solid 2px #eaeaea;

    border-bottom: solid 2px #777;

    border-right: solid 2px #777;

    cursor: pointer;

    padding: 3px 3px;

}

.fixed {

	border: 0px;

}





#titolo {

  float:left;

  font-size: 24px;

  padding-top: 35px;

  padding-left: 30px;



}



.sinistra {

  float:left;



}



#box_autenticazione {

  width: 400px;

  height: 100px;

  margin-left: 20px;

  border:solid 2px #42714F;



}



#box_autenticazione li {

  list-style-type: none;

  font-size: 20px;

  text-align: center;

  margin-left: -40px;



}



#corpo_tutto {

  width: 1000px;

  text-align: left;

}



#indicator_corpoimmissione {

  position:absolute;

  left: 10px;

  top: 10px;

  background-color:#5a9368;

  color:white;

}



.indicatore {

  position:absolute;

  background-color:#5a9368;

  color:white;

  z-index: 10;



  border: 1.5px solid #3c6446;



}



#calendario td {

  border: 1px solid #5a9368;



}



#calendario td .titolo {

  font-size: 20px;

  border: hidden;

}



table

{

border-collapse:collapse;

}



#calendario tr .rigamese {

  border: hidden;

  background: transparent;

  cursor: default;

  margin-left: -20px;



}



#calendario .data {

  font-size: 1.3em;

}



#menu ul{



list-style: none;

padding: 0;

margin: 0;



}



#menu li

{

  float: left;

  margin: 0 0.15em;

  height: 30px;

  margin-right: 10px;

  margin-left: 10px;

  margin-top: 7px;



}



#menu {

  background-color: #5a9368;

  color: white;

  font-weight: bold;

  height: 30px;

  /*width: 2024px;*/

  width: 98%;

  margin-left: 1%;

  margin-right: 1%;

  margin-bottom: 20px;



}



#menu li a {

  color: white;

  text-decoration: none;

}



#menu li a:hover {

  color: #5a9368;

  background-color: white;



}



#crocetta {

  font-weight: bold;

  font-size: 1.2em;

  color: white;

  background: #5a9368;



}



#crocetta a {

  text-decoration: none;

  padding: 5px;

  color: #5a9368;

  background: white;

  border: 1px;

}

